@media screen and (max-width: 990px) {
  .formLogin {
    width: 80%;
    margin: auto;
  }
}

.submitBtn {
  height: 54px;
  border: none !important;
  background: #f14e95;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
}
