#cakes-gallery {
  padding: 3em 0;
  clear: both;
}

#cakes-gallery-list-detail li {
  display: block;
  padding: 0;
  margin: 0 0 10px 1%;
  list-style: none;
  max-height: 280px;
  min-height: 280px;
  float: left;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

#cakes-gallery-list-detail li a {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 7px;
}

.galleryImg {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #cakes-gallery {
    padding: 3em 0;
  }

  #cakes-gallery-list-detail li {
    max-height: 450px;
    min-height: 50px;
  }
}

@media screen and (max-width: 480px) {
  #cakes-gallery-list-detail li {
    margin-bottom: 17%;
    left: -15px;
  }
}
