<div class="row buy">
  <div class="col-md-11 text-center cakes-heading">

    <ul class='circle-container'>
      <li><img src='../../assets/img/biscuit.jpg'></li>
      <li><img src='../../assets/img/biscuit2.jpg'></li>
      <li><img src='../../assets/img/biscuit3.jpg'></li>
      <li><img src='../../assets/img/biscuit4.jpg'></li>
      <li><img src='../../assets/img/biscuit5.jpg'></li>
      <li><img src='../../assets/img/biscuit6.jpg'></li>
      <li><img src='../../assets/img/biscuit7.jpg'></li>
      <li><img src='../../assets/img/biscuit8.jpg'></li>
      <li>
        <h3>Acheter vos biscuits personnalisés!</h3>
        <a routerLink="buy"><i class="fa fa-cart-plus"></i></a>
      </li>
    </ul>
  </div>
</div>
<div>