<div class="row buy">
  <div class="col-md-6 text-center cakes-heading">
    <div class="row" style="display:flex;">
      <div class="col-md-5 offset-md-2">
        <ul class="circle-container">
          <li>
            <img
              src="../../assets/img/biscuit6-100px.jpeg"
              alt="exemple_biscuit"
            />
          </li>
          <li></li>
          <li></li>
          <li>
            <img
              src="../../assets/img/biscuit3-100px.jpeg"
              alt="exemple_biscuit"
            />
          </li>
          <li>
            <img
              src="../../assets/img/biscuit4-100px.jpeg"
              alt="exemple_biscuit"
            />
          </li>
          <li>
            <img
              src="../../assets/img/biscuit5-100px.jpeg"
              alt="exemple_biscuit"
            />
          </li>
          <li>
            <img
              src="../../assets/img/biscuit7-100px.jpeg"
              alt="exemple_biscuit"
            />
          </li>
          <li>
            <img
              src="../../assets/img/biscuit-100px.jpeg"
              alt="exemple_biscuit"
            />
          </li>
          <li>
            <h3>Acheter vos biscuits personnalisés!</h3>
            <a routerLink="buy"
              ><i class="fa fa-cart-plus"></i>
              <p class="sr-only">Acheter Ici</p></a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-5 hideSmall">
        <ul class="circle-container">
          <li>
            <img
              src="../../assets/img/biscuit9-100px.jpeg"
              alt="exemple_biscuit"
            />
          </li>
          <li>
            <img
              src="../../assets/img/biscuit10-100px.jpeg"
              alt="exemple_biscuit"
            />
          </li>
          <li>
            <img
              src="../../assets/img/biscuit6-100px.jpeg"
              alt="exemple_biscuit"
            />
          </li>
          <li>
            <img
              src="../../assets/img/biscuit3-100px.jpeg"
              alt="exemple_biscuit"
            />
          </li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="preview"
      style="position: relative; display: flex; justify-content: center; align-items: center;"
    >
      <img
        style="width:50%; position: relative;"
        src="../../../assets/img/cleanbiscuit.png"
        alt="previewOrder"
      />
      <span class="typed1 spanMessage"></span>
    </div>
  </div>
</div>
<div></div>
