<div id="cakes-topnews" class="cakes-bg" style="background-image:url(../assets/img/topnew.jpg);">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center cakes-heading">
        <h2>Top Actualités</h2>
      </div>
    </div>
    <div class="row">
      <div class="display-t">
        <div class="display-tc">
          <div class="col-md-12">
            <div class="col-md-4 offset-md-1 col-sm-12 text-center">
              <div class="topnews-img">
                <div class="topnews-col">
                  <img src="{{lastActu?.img}}" alt="lastActualite" />
                </div>
              </div>
            </div>

            <div class="col-md-6 offset-md-1 col-sm-12 text-center" style="float: left;">
              <div class="topnews-wrap">
                <h3>{{lastActu?.title}}</h3>
                <span class="topnewsText">{{lastActu?.description}}</span>
                <br>
                <a href="{{lastActu?.link}}" target="_blank">{{lastActu?.titleLink}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cakes-archive">
    <a routerLink="archivesActu"><button type="button" class="btn btn-default btn-block">Voir les archives</button></a>
  </div>
</div>