<div id="cakes-archivelist">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 returnBtn">
        <button [routerLink]="['/']" class="btn btn-default">
          Retour</button>
      </div>
      <div class="col-md-12 text-center cakes-heading">
        <h2>Toutes mes Créations !</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0 archivelist">
        <ul class="timeline" *ngFor="let real of realizations; let i = index">
          <li [ngClass]="{ 'timeline-inverted': i%2 == 0 }">
            <div class="timeline-badge" [ngStyle]="{'background-image':'url('+real.img.url+')'}"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">{{real.title}}</h3>
                <span class="date">{{real.date}}</span>
              </div>
              <div class="timeline-body">
                <p>{{real.description | slice:0:150}}... </p>
                <a [routerLink]="['/home/real/'+real.key]" class="btn btn-sm">Voir Plus</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>