<div
  id="cakes-orderEdit"
  class="cakes-bg"
  style="background-image:url(../assets/img/edit_orders.jpg);"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center cakes-heading">
        <h2>Changer la Commande</h2>
        <p>(seul les champs munis d'une * peuvent etre changés)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="cakes-heading">
          <form class="form-inline" name="orderForm">
            <div class="col-md-3 col-sm-12">
              <div class="form-group">
                <label for="id">Numéro</label>
                <input
                  type="text"
                  [(ngModel)]="id"
                  class="form-control"
                  name="id"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="form-group">
                <label for="date">Date</label>
                <input
                  type="text"
                  [ngModel]="order?.date | date"
                  (ngModel)="(order.date)"
                  class="form-control"
                  name="date"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="form-group">
                <label for="amount">Montant</label>
                <input
                  type="text"
                  [ngModel]="
                    order?.amount / 100 | currency: 'EUR':'symbol':'2.2-2':'fr'
                  "
                  (ngModel)="(order.amount)"
                  class="form-control"
                  name="amount"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 col-sm-12">
              <div class="form-group">
                <label for="status">Status</label>
                <input
                  type="text"
                  [ngModel]="order.charge?.paid === true ? 'PAYÉ' : 'NON PAYÉ'"
                  (ngModel)="(order.charge.paid)"
                  class="form-control"
                  name="status"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="form-group">
                <label for="refund">Remboursement</label>
                <input
                  type="text"
                  [ngModel]="
                    order.charge?.refunded === true
                      ? 'REMBOURSÉ'
                      : 'NON REMBOURSÉ'
                  "
                  (ngModel)="(order.charge.refunded)"
                  class="form-control"
                  name="refund"
                  disabled
                />
              </div>
            </div>
            <hr class="hrNice" />
            <div class="col-md-12 col-sm-12">
              <div class="col-md-12 col-sm-12">
                <h3>Informations Client</h3>
                <div class="row" style="display:flex;">
                  <div class="col-sm-6">
                    <div class="col-md-8">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="name">Nom</label>
                        <input
                          type="text"
                          [ngModel]="order.token?.card.name"
                          (ngModelChange)="(order.token.card.name)"
                          class="form-control"
                          name="name"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="email">Email</label>
                        <input
                          type="text"
                          [ngModel]="order.token?.email"
                          (ngModelChange)="(order.token.email)"
                          class="form-control"
                          name="email"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="col-md-8">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="address">Adresse</label>
                        <input
                          type="text"
                          [ngModel]="order.token?.card.address_line1"
                          (ngModelChange)="(order.token.card.address_line1)"
                          class="form-control"
                          name="address"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="city">Ville</label>
                        <input
                          type="text"
                          [ngModel]="order.token?.card.address_city | uppercase"
                          (ngModelChange)="(order.token.card.address_city)"
                          class="form-control"
                          name="city"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="zip">Code Postal</label>
                        <input
                          type="text"
                          [ngModel]="order.token?.card.address_zip"
                          (ngModelChange)="(order.token.card.address_zip)"
                          class="form-control"
                          name="zip"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="country">Pays</label>
                        <input
                          type="text"
                          [ngModel]="
                            order.token?.card.address_country | uppercase
                          "
                          (ngModelChange)="(order.token?.card.address_country)"
                          class="form-control"
                          name="country"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="hrNice" *ngIf="withMessage" />
              <div class="col-md-12 col-sm-12" *ngIf="withMessage">
                <h3>Message Biscuits</h3>
                <div class="row" style="display:flex;">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="row1">Ligne 1 *</label>
                      <input
                        type="text"
                        [ngModel]="order.message?.row1"
                        (ngModelChange)="order.message.row1 = $event"
                        class="form-control"
                        name="row1"
                        maxlength="12"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="row2">Ligne 2 *</label>
                      <input
                        type="text"
                        [ngModel]="order.message?.row2"
                        (ngModelChange)="order.message.row2 = $event"
                        class="form-control"
                        name="row2"
                        maxlength="12"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="row3">Ligne 3 *</label>
                      <input
                        type="text"
                        [ngModel]="order.message?.row3"
                        (ngModelChange)="order.message.row3 = $event"
                        class="form-control"
                        name="row3"
                        maxlength="12"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <hr class="hrNice" />
              <div class="col-md-12 col-sm-12">
                <h3>Détails Commande</h3>
                <div class="row" style="display:flex;">
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="quantity">Quantité</label>
                        <input
                          type="text"
                          [ngModel]="order.details?.quantity"
                          (ngModelChange)="(order.details?.quantity)"
                          class="form-control"
                          name="quantity"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="event">Occasion *</label>
                        <select
                          class="form-control"
                          [ngModel]="order.details?.event"
                          (ngModelChange)="order.details.event = $event"
                          name="event"
                        >
                          <option value="anniversaire"> Anniversaire </option>
                          <option value="mariage"> Mariage </option>
                          <option value="publicite"> Publicité </option>
                          <option value="autres"> Autres </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!--
                      <div class="col-md-12">
                        <div
                          class="form-group"
                          style="display: flex; flex-wrap: wrap;"
                        >
                          <label for="form">Forme *</label>
                          <select
                            class="form-control"
                            [ngModel]="order.details?.form"
                            (ngModelChange)="order.details.form = $event"
                            name="form"
                          >
                            <option value="rectangulaire"> Rectangulaire </option>
                            <option value="rond"> Rond </option>
                          </select>
                        </div>
                      </div>
                    -->
                    <div class="col-md-12">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="perfum">Parfum *</label>
                        <select
                          class="form-control"
                          [ngModel]="order.details?.perfum"
                          (ngModelChange)="order.details.perfum = $event"
                          name="perfum"
                        >
                          <option value="nature"> Nature </option>
                          <option value="amande"> Amandes </option>
                          <option value="chocolat"> Chocolat </option>
                          <option value="citron"> Citron </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="paint">A colorier</label>
                        <input
                          type="text"
                          [ngModel]="
                            order.details?.paint === true ? 'AVEC' : 'SANS'
                          "
                          (ngModelChange)="(order.details?.paint)"
                          class="form-control"
                          name="paint"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="decoration">Décoration</label>
                        <input
                          type="text"
                          [ngModel]="
                            order.details?.decoration === true ? 'AVEC' : 'SANS'
                          "
                          (ngModelChange)="(order.details?.decoration)"
                          class="form-control"
                          name="decoration"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-12" *ngIf="!withMessage">
                      <div
                        class="form-group"
                        style="display: flex; flex-wrap: wrap;"
                      >
                        <label for="row1">Theme *</label>
                        <select
                          class="form-control"
                          [ngModel]="order.message.row1"
                          (ngModelChange)="order.message.row1 = $event"
                          name="row1"
                        >
                          <option value="peppaPig"> Peppa Pig </option>
                          <option value="helloKitty"> Hello Kitty </option>
                          <option value="licorne"> Licorne </option>
                          <option value="poupee"> Poupée </option>
                          <option value="bebe"> Bébé </option>
                          <option value="melange"> Mix de tout </option>
                        </select>
                      </div>
                    </div>
                    <!--
                      <div class="col-md-12">
                        <div
                          class="form-group"
                          style="display: flex; flex-wrap: wrap;"
                        >
                          <label for="gluten">Sans Gluten</label>
                          <input
                            type="text"
                            [ngModel]="
                              order.charge?.gluten === true ? 'OUI' : 'NON'
                            "
                            (ngModelChange)="(order.details?.gluten)"
                            class="form-control"
                            name="gluten"
                            disabled
                          />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div
                          class="form-group"
                          style="display: flex; flex-wrap: wrap;"
                        >
                          <label for="lactose">Sans Lactose</label>
                          <input
                            type="text"
                            [ngModel]="
                              order.charge?.lactose === true ? 'OUI' : 'NON'
                            "
                            (ngModelChange)="(order.details?.lactose)"
                            class="form-control"
                            name="lactose"
                            disabled
                          />
                        </div>
                      </div>
                    -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <button
                type="button"
                (click)="onSubmit()"
                class="btn btn-default btn-block"
              >
                Changer
              </button>
            </div>
            <div class="col-md-3">
              <button routerLink="/admin" class="btn btn-default btn-block">
                Retour Admin
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <flash-messages></flash-messages>
  </div>
</div>
