#cakes-orderEdit {
  padding: 3em 0;
  clear: both;
}

#cakes-orderEdit {
  position: relative;
}

#cakes-orderEdit .cakes-heading h2 {
  color: #fff;
}

#cakes-orderEdit .cakes-heading h3 {
  color: #fff;
}

#cakes-orderEdit .cakes-heading p {
  color: rgba(255, 255, 255, 0.5);
}

#cakes-orderEdit .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#cakes-orderEdit label {
  color: #fff !important;
  text-align: left;
  font-size: 15px;
}

#cakes-orderEdit .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}

#cakes-orderEdit .btn {
  height: 54px;
  border: none !important;
  background: #f14e95;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.imgorder {
  max-width: 500px;
}

#cakes-orderEdit .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}

#cakes-orderEdit .form-inline .form-group .form-control {
  width: 100%;
}

#cakes-orderEdit .cakes-heading {
  margin-bottom: 30px;
}

#cakes-orderEdit .cakes-heading h2 {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #cakes-orderEdit {
    padding: 3em 0;
  }
}

.hrNice {
  overflow: visible; /* For IE */
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-top: medium double white;
  color: white;
  text-align: center;
  width: 100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
}
