<header id="cakes-header" class="cakes-cover" role="banner" style="background-image:url(../assets/img/header.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="display-t">
          <div class="display-tc">
            <h1>Les Gourmandises de Ludivine</h1>
            <h2>Pâtissière pour le plaisir</h2>
            <p>
              <a class="btn btn-default btn-sm">Découvrez mes réalisations</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>