<div id="cakes-actuEdit" class="cakes-bg" style="background-image:url(../assets/img/topnew.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center cakes-heading">
        <h2>Changer l'Actualite</h2>
        <h2> {{actu?.title}}</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="cakes-heading">
          <form class="form-inline" name="actuForm">
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label for="title">Titre*</label>
                <input type="text" [(ngModel)]="actu.title" class="form-control" name="title">
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label for="description">Texte*</label>
                <textarea autosize [(ngModel)]="actu.description" class="form-control" name="description" required>Description</textarea>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="link">Lien Web</label>
                <input type="text" [(ngModel)]="actu.link" class="form-control" name="link">
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="form-group" style="display: flex; flex-wrap: wrap;">
                <label for="titleLink">Titre Lien Web</label>
                <input type="text" [(ngModel)]="actu.titleLink" class="form-control" name="titleLink">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="img">Image*</label>
                <input type="file" class="form-control" (change)="uploadImg($event)" accept=".png,.jpg" required />
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group" style="display: flex; flex-wrap: wrap;">
                <img *ngIf="actu?.img" class="imgActu" src="{{actu.img}}" alt="logo_actualite">
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <button type="button" (click)="onSubmit();" class="btn btn-default btn-block">Changer</button>
            </div>
            <div class="col-md-4 col-sm-4">
              <button routerLink="/admin" class="btn btn-default btn-block">
                Retour Admin</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <flash-messages></flash-messages>
  </div>
</div>