<div
  id="cakes-partnerEdit"
  class="cakes-bg"
  style="background-image:url(../assets/img/edit_partner.jpg);"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center cakes-heading">
        <h2>Changer le Partenaire/Produit</h2>
        <h2>{{ partner?.name }}</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="cakes-heading">
          <form class="form-inline" name="partnerForm">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="name">Partenaire / Produit</label>
                <input
                  type="text"
                  [(ngModel)]="partner.name"
                  class="form-control"
                  name="name"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="website">Site / Facebook</label>
                <input
                  type="text"
                  [(ngModel)]="partner.website"
                  class="form-control"
                  name="website"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="location">Lieu de Vente</label>
                <input
                  type="text"
                  [(ngModel)]="partner.location"
                  class="form-control"
                  name="location"
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="form-group" style="display: flex; flex-wrap: wrap;">
                <label for="isPartner">Partenaires</label>
                <input
                  type="checkbox"
                  style="width:8%; margin-left:10px;"
                  [(ngModel)]="partner.isPartner"
                  class="form-control"
                  name="isPartner"
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="form-group" style="display: flex; flex-wrap: wrap;">
                <label for="alreadyUsed">Déjà utilisé</label>
                <input
                  type="checkbox"
                  style="width:8%; margin-left:10px;"
                  [(ngModel)]="partner.alreadyUsed"
                  class="form-control"
                  name="alreadyUsed"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group" style="display: flex; flex-wrap: wrap;">
                <label class="logoLabel" for="logo">Web Adresse du Logo</label>
                <input
                  type="text"
                  [(ngModel)]="partner.logo"
                  class="form-control"
                  name="logo"
                  style="width: 70%;"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group" style="display: flex; flex-wrap: wrap;">
                <img
                  *ngIf="partner?.logo"
                  class="partnerLogo"
                  src="{{ partner.logo }}"
                  alt="logo_partenaire"
                  style="width:100px; max-height: 100px;"
                />
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <button
                type="button"
                (click)="onSubmit()"
                class="btn btn-default btn-block"
              >
                Changer
              </button>
            </div>
            <div class="col-md-4 col-sm-4">
              <button routerLink="/admin" class="btn btn-default btn-block">
                Retour Admin
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <flash-messages></flash-messages>
  </div>
</div>
