<div id="cakes-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center cakes-heading">
        <h2>Mes Données</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0 adminlist">
        <ul class="timeline">
          <li>
            <div class="timeline-badge" style="background-image:url(../assets/img/edit_real.jpg);"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">{{realizations?.length}} Réalisations</h3>
              </div>
              <div class="timeline-body">
                <table class="table table-hover" *ngIf="realizations?.length > 0;">
                  <tbody>
                    <tr *ngFor="let real of realizations | paginate: { itemsPerPage: 10, currentPage: realPage, id: 'real' }; let i = index;">
                      <td>{{real.title}} - <small>{{real.date}}</small></td>

                      <td>
                        <a [routerLink]="['/admin/real/edit/', real.key]" class="btn btn-sm">
                          <i class="fa fa-edit"></i></a>
                      </td>
                      <td>
                        <a class="btn btn-sm" (click)="onDeleteClick('real', real.key)">
                          <i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls previousLabel="Précédent" nextLabel="Suivant" class="paginations" (pageChange)="realPage = $event"
                  id="real"></pagination-controls>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>