<div
  id="cakes-add-buy"
  class="cakes-bg"
  style="background-image:url(../assets/img/make_order.jpg);"
>
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 offset-md-1 returnBtn">
        <button routerLink="/" class="btn btn-default">Retour</button>
      </div>
      <div class="col-md-12 text-center cakes-heading">
        <h2>Passez Votre Commande</h2>
      </div>
    </div>
    <div class="row greyBox">
      <div class="col-md-7 form-control leftSide" *ngIf="showStep1">
        <form [formGroup]="buyInfoFormStep1" (ngSubmit)="processFormStep1()">
          <div class="col-md-12">
            <h3>Étape 1 : Choisir vos options</h3>
            <div class="row form-group" style="display:flex">
              <div class="col-md-7">
                <mat-form-field class="form-full-width">
                  <input
                    matInput
                    placeholder="Quantité de biscuits"
                    type="number"
                    name="quantity"
                    id="quantity"
                    formControlName="quantity"
                  />
                  <mat-error *ngIf="quantity.hasError('required')">
                    Champ <strong>obligatoire</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <div class="specialPrice">
                  <span class="specialAmount">1,50 € / biscuit</span>
                </div>
                <div class="specialPrice">
                  <span class="specialAmount">1,25 € / biscuit à partir de 20 biscuits</span>
                </div>
                <div class="specialPrice">
                  <span class="specialAmount">1 € / biscuit à partir de 50 biscuits</span>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <mat-form-field class="form-full-width">
                  <mat-select
                    placeholder="Occasion"
                    name="event"
                    id="event"
                    formControlName="event"
                  >
                    <mat-option value="anniversaire">Anniversaire</mat-option>
                    <mat-option value="mariage">Mariage</mat-option>
                    <mat-option value="publicite">Publicité</mat-option>
                    <mat-option value="autres">Autres</mat-option>
                  </mat-select>
                  <mat-error *ngIf="event.hasError('required')">
                    Champ <strong>obligatoire</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row" style="display:flex;">
              <div class="col-md-6">
                <div class="row form-group">
                  <h5>Saveur :</h5>
                  <div class="col-md-12">
                    <mat-radio-group
                      class="example-radio-group"
                      name="perfum"
                      id="perfum"
                      formControlName="perfum"
                    >
                      <mat-radio-button
                        class="example-radio-button"
                        value="nature"
                        >Nature</mat-radio-button
                      >
                      <mat-radio-button
                        class="example-radio-button"
                        value="amande"
                        >Amandes</mat-radio-button
                      >
                      <mat-radio-button
                        class="example-radio-button"
                        value="chocolat"
                        >Chocolat</mat-radio-button
                      >
                      <mat-radio-button
                        class="example-radio-button"
                        value="citron"
                        >Citron</mat-radio-button
                      >
                    </mat-radio-group>
                    <mat-error *ngIf="perfum.hasError('required')">
                      Champ <strong>obligatoire</strong>
                    </mat-error>
                  </div>
                </div>
                <!--
                  -
                  <div class="row form-group ">
                    <h5>Forme :</h5>
                    <div class="col-md-12">
                      <mat-radio-group
                        class="example-radio-group"
                        name="form"
                        id="form"
                        formControlName="form"
                      >
                        <mat-radio-button
                          class="example-radio-button"
                          value="rectangulaire"
                          >Rectangulaire</mat-radio-button
                        >
                        <mat-radio-button
                          class="example-radio-button"
                          value="rond"
                          >Rond</mat-radio-button
                        >
                      </mat-radio-group>
                      <mat-error *ngIf="form.hasError('required')">
                        Champ <strong>obligatoire</strong>
                      </mat-error>
                    </div>
                  </div>
                -->
              </div>

              <div class="col-md-6">
                <!--
                  -
                  <div class="row form-group">
                    <h5>Requêtes spéciales :</h5>
                    <div class="col-md-12">
                      <section class="example-section row" style="display:flex;">
                        <div class="col-md-6 col-sm-12">
                          <mat-checkbox
                            class="example-margin"
                            name="gluten"
                            id="gluten"
                            formControlName="gluten"
                            >Sans Gluten</mat-checkbox
                          >
                        </div>
                        <div class="specialPrice col-md-5 col-sm-12">
                          <span class="specialAmount">+0.20 € / biscuit</span>
                        </div>
                      </section>
                      <section class="example-section row" style="display:flex;">
                        <div class="col-md-6 col-sm-12">
                          <mat-checkbox
                            class="example-margin"
                            name="lactose"
                            id="lactose"
                            formControlName="lactose"
                            >Sans Lactose</mat-checkbox
                          >
                        </div>
                        <div class="specialPrice col-md-5 col-sm-12">
                          <span class="specialAmount">+0.20 € / biscuit</span>
                        </div>
                      </section>
                    </div>
                  </div>
                -->
                <div class="row form-group " style="margin-top:10px;">
                  <h5>Décoré pâte a sucre :</h5>
                  <div class="col-md-12">
                    <section class="example-section row" style="display:flex;">
                      <div class="col-md-6 col-sm-12">
                        <mat-checkbox
                          class="example-margin"
                          name="decoration"
                          id="decoration"
                          formControlName="decoration"
                          >Décorés</mat-checkbox
                        >
                      </div>
                      <div class="specialPrice col-md-5 col-sm-12">
                        <span class="specialAmount">+0.20 € / biscuit</span>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="row form-group" style="margin-top:50px;">
                  <div class="col-md-12 text-center btnDiv">
                    <button
                      type="submit"
                      [disabled]="!buyInfoFormStep1.valid"
                      class="submitBtn btn btn-default btn-block"
                    >
                      Avancez vers l'étape 2
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div
        class="col-md-2 offset-md-2 form-control-right"
        style="display: flex; align-items: center;"
        *ngIf="showStep1"
      >
        <div class="price" style="display: flex; align-items: center;">
          <span class="amount"
            >Total : {{ calculatedPrice | number: '1.2-2' }} €</span
          >
        </div>
      </div>
      <div class="col-md-6 form-control leftSide" *ngIf="showStep2">
        <form [formGroup]="buyInfoFormStep2" (ngSubmit)="processFormStep2()">
          <div class="col-md-12">
            <div class="row">
              <h3>Étape 2 : Choississez votre message</h3>
              <h6 style="font-size:20px;">
                Attention votre message ne peut prendre que
                <strong>trois lignes</strong>, de
                <strong>12 lettres</strong> maximum, espaces inclus.
              </h6>
              <div class="row form-group ">
                <div class="col-md-12">
                  <mat-form-field class="form-full-width">
                    <input
                      matInput
                      placeholder="Ligne 1"
                      type="text"
                      name="row1"
                      id="row1"
                      formControlName="row1"
                    />
                    <mat-error
                      *ngIf="
                        row1.hasError('maxlength') && !row1.hasError('required')
                      "
                    >
                      <strong>12</strong> lettres maximum (espaces inclus)
                    </mat-error>
                    <mat-error *ngIf="row1.hasError('required')">
                      Champ <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row form-group ">
                <div class="col-md-12">
                  <mat-form-field class="form-full-width">
                    <input
                      matInput
                      placeholder="Ligne 2"
                      type="text"
                      name="row2"
                      id="row2"
                      formControlName="row2"
                    />
                    <mat-error *ngIf="row2.hasError('maxlength')">
                      <strong>12</strong> lettres maximum (espaces inclus)
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row form-group ">
                <div class="col-md-12">
                  <mat-form-field class="form-full-width">
                    <input
                      matInput
                      placeholder="Ligne 3"
                      type="text"
                      name="row3"
                      id="row3"
                      formControlName="row3"
                    />
                    <mat-error *ngIf="row3.hasError('maxlength')">
                      <strong>12</strong> lettres maximum (espaces inclus)
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row" style="display:flex;">
                <div class="col-md-4 btnDiv">
                  <button
                    class="submitBtn btn btn-default btn-block"
                    (click)="returnStep1()"
                  >
                    Retour Étape 1
                  </button>
                </div>
                <div class="col-md-7 text-center btnDiv">
                  <button
                    type="submit"
                    [disabled]="!buyInfoFormStep2.valid"
                    class="submitBtn btn btn-default btn-block"
                  >
                    Derniere étape
                  </button>
                </div>
              </div>
            </div>
            <flash-messages></flash-messages>
          </div>
        </form>
      </div>
      <div class="col-md-3 offset-md-2 form-control-right" *ngIf="showStep2">
        <h5 style="text-align: center; color: white;">Petit Aperçu</h5>
        <div
          class="preview"
          style="position: relative; display: flex; justify-content: center; align-items: center;"
        >
          <img
            style="width:100%; position: relative;"
            src="../../../assets/img/cleanbiscuit.png"
            alt="previewOrder"
          />
          <span class="typed1 spanMessage" [style.top.px]="topRow1"></span>
          <span class="typed2 spanMessage" [style.top.px]="topRow2"></span>
          <span class="typed3 spanMessage" [style.top.px]="topRow3"></span>
        </div>
      </div>
      <div class="col-md-6 form-control leftSide" *ngIf="showStep3">
        <form [formGroup]="buyInfoFormStep3" (ngSubmit)="processFormStep3()">
          <div class="col-md-12">
            <h2>Étape 3 : Validation</h2>
            <div class="row" style="display: flex; align-items: center; margin-bottom:20px;">
              <div class="row finalPreview">
                <div class="price col-md-3 col-sm-12" style="display: flex; align-items: center;">
                  <span class="amount"
                    >Total : {{ calculatedPrice | number: '1.2-2' }} €</span
                  >
                </div>
                <div class="col-sm-12 col-md-4"
                  style="position:relative; display: flex; justify-content: center; align-items: center; width: 300px;"
                >
                  <img
                    style="width: 80%;"
                    src="../../../assets/img/cleanbiscuit.png"
                    alt="previewOrder"
                  />
                  <div class="spans" style="align-items:center; width:110px;">
                    <span
                      class="spanMessageFinal"
                      [style.top.px]="smallTopRow1"
                      >{{ message.row1 }}</span
                    >
                    <span
                      class="spanMessageFinal"
                      [style.top.px]="smallTopRow2"
                      >{{ message.row2 }}</span
                    >
                    <span
                      class="spanMessageFinal"
                      [style.top.px]="smallTopRow3"
                      >{{ message.row3 }}</span
                    >
                  </div>
                </div>
                <div class="row recap col-md-5 col-sm-12">
                  <div class="col-md-12">
                    <ul class="recapOrder">
                      <li>
                        <strong>Quantité : </strong> {{ details.quantity }}
                      </li>
                      <li>
                        <strong>Occasion : </strong>
                        {{ details.event | uppercase }}
                      </li>
                      <li>
                        <strong>Parfum : </strong>
                        {{ details.perfum | uppercase }}
                      </li>
                      <li>
                        <strong>Décoration : </strong>
                        {{ details.decoration === false ? 'NON' : 'OUI' }}
                      </li>
                      <!--
                        <li>
                          <strong>Forme : </strong> {{ details.form | uppercase }}
                        </li>

                        <li>
                          <strong>Sans Gluten : </strong
                          >{{ details.gluten === false ? 'NON' : 'OUI' }}
                        </li>
                        <li>
                          <strong>Sans Lactose : </strong>
                          {{ details.lactose === false ? 'NON' : 'OUI' }}
                        </li>
                      -->
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="row"
                style="display:flex; margin-top: 20px; width:100%;"
              >
                <div class="row form-group ">
                  <div class="col-md-12">
                      <input hidden formControlName="success"/>
                  </div>
                </div>
                <div class="col-md-4 btnDiv">
                  <button
                    class="submitBtn btn btn-default btn-block"
                    (click)="returnStep2()"
                  >
                    Retour Étape 2
                  </button>
                </div>
                <div class="col-md-5 text-center btnDiv">
                  <button
                    type="submit"
                    [disabled]="!buyInfoFormStep3.valid"
                    class="submitBtn btn btn-default btn-block"
                  >
                    Valider & Commander
                  </button>
                </div>
              </div>
            </div>
            <flash-messages></flash-messages>
          </div>
        </form>
      </div>
      <div
        class="col-md-3 offset-md-2 form-control-right paiement"
        style="display: block; align-items: center;"
        *ngIf="showStep3"
      >
        <h2 style="text-align: center;">Méthode de Paiement</h2>
        <h6 style="font-size:16px; padding:15px; text-align: center;">
          Afin d'effectuer un paiement sécurisé, le site utilise la plateforme
          de paiement en ligne Stripe (compétiteur de Paypal). <br /><br />
          Il vous suffit juste de suivre les instructions des fenêtres suivantes
          pour effectuer votre paiement. <br /><br />
          Une fois le paiement reçu, je vous contacterais par email pour
          confirmer la commande.
        </h6>
      </div>
    </div>
  </div>
</div>
