<div id="cakes-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-1 returnBtn">
        <button routerLink="/" class="btn btn-default">
          Retour</button>
      </div>
      <div class="col-md-12 text-center cakes-heading">
        <h2>Passez Votre Commande</h2>
      </div>
    </div>
    <div class="row" style="display: flex;">
      <div class="fh5co-contact-info">
        <form [formGroup]="buyInfoForm" (ngSubmit)="processForm()">
          <div class="row" style="display: flex;">
          <div class="col-md-5">
            <h3>Vos Informations</h3>
              <div class="row form-group" style="display: flex;">
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder="Votre prenom" type="text" name="name" id="firstName" formControlName="firstName">
                    <mat-error *ngIf="firstName.hasError('required')">
                      Champ <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
    
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder="Votre nom de famille" type="text" name="lastName" id="lastName"
                      formControlName="lastName">
                    <mat-error *ngIf="lastName.hasError('required')">
                      Champ <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
    
              <div class="row form-group">
                <div class="col-md-12">
                  <mat-form-field class="form-full-width">
                    <input matInput placeholder="Votre email" type="text" name="email" id="email" formControlName="email">
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                      Entrez une adresse email valide.
                    </mat-error>
                    <mat-error *ngIf="email.hasError('required')">
                      Champ <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
    
              <div class="row form-group">
                <div class="col-md-12">
                  <mat-form-field class="form-full-width">
                    <input matInput placeholder="Votre Adresse" type="text" name="address" id="address" formControlName="address">
                    <mat-error *ngIf="address.hasError('required')">
                      Champ <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row form-group" style="display: flex;">
                <div class="col-md-6">
                  <mat-form-field class="form-full-width">
                    <input matInput placeholder="Votre Ville" type="text" name="city" id="city" formControlName="city">              
                    <mat-error *ngIf="city.hasError('required')">
                      Champ <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="form-full-width">
                    <input matInput placeholder="Votre Code Postal" type="number" name="zipcode" id="zipcode" formControlName="zipcode">                
                    <mat-error *ngIf="zipcode.hasError('required')">
                      Champ <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <h2>Choississez votre message</h2>
              <p>Attention votre message ne peut prendre que trois lignes maximales, comptant 12 caractères max comprenant les espaces vides.</p>
              
              <div class="row form-group">
                <div class="col-md-12">
                  <mat-form-field class="form-full-width">
                    <input matInput placeholder="Ligne 1" type="text" name="row1" id="row1" formControlName="row1">
                    <mat-error *ngIf="row1.hasError('maxLength') && !row1.hasError('required')">
                        Caractères maximum: <strong>12</strong>
                    </mat-error>
                    <mat-error *ngIf="row1.hasError('required')">
                      Champ <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
  
                <div class="row form-group">
                  <div class="col-md-12">
                    <mat-form-field class="form-full-width">
                      <input matInput placeholder="Ligne 2" type="text" name="row2" id="row2" formControlName="row2">
                      <mat-error *ngIf="row2.hasError('maxLength')">
                          Caractères maximum: <strong>12</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
  
                <div class="row form-group">
                  <div class="col-md-12">
                    <mat-form-field class="form-full-width">
                      <input matInput placeholder="Ligne 3" type="text" name="row3" id="row3" formControlName="row3">
                      <mat-error *ngIf="row3.hasError('maxLength')">
                          Caractères maximum: <strong>12</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <div #captchaRef2></div>
                </div>
              </div>
              <div>
                <button type="submit" [disabled]="!buyInfoForm.valid" class="submitBtn">Envoyer</button>
              </div>
              <flash-messages></flash-messages>
            </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>